<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param  name="StaticLogFileName" value="true"/>
      <file type="log4net.Util.PatternString" value="../../../Log/%date{yyyy.MM}.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMM" />
      <maximumFileSize value="1000KB" />
      <maxSizeRollBackups value="3" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %date{dd MM yyyy HH:mm:ss} %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="HistoryAppender" type="log4net.Appender.FileAppender">
      <file value="../../../History/History.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
        <conversionPattern value="%date{dd MM yyyy HH:mm:ss} - %message%newline" />
      </layout>
    </appender>

    <logger name="HistoryLog" >
      <level value="ALL"/>
      <appender-ref ref="HistoryAppender"/>
    </logger>
    <logger name="fileLogger">
      <level value="ALL"/>
      <appender-ref ref="RollingFile"/>
    </logger>
    <logger name="testLog" >
      <level value="ALL"/>
      <appender-ref ref="testAppender"/>
    </logger>
  </log4net>


</configuration>