<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MarketClient.Properties.Settings.historyConnectionString1"
            connectionString="Data Source=ise172.ise.bgu.ac.il;Initial Catalog=history;Persist Security Info=True;User ID=labuser"
            providerName="System.Data.SqlClient" />
        <add name="MarketClient.Properties.Settings.historyConnectionString"
            connectionString="Data Source=ise172.ise.bgu.ac.il;Initial Catalog=history;Persist Security Info=True;User ID=labuser;Password=wonsawheightfly"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>